.auth {
  align-self: center;
  margin: 0 20px;
}
.button {
  padding: 5px 35px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
.button--success {
  background: #4CAF50;
}
.button--success:hover,
.button--success:focus {
  background: #52bd55;
}
.button--success:active {
  background: #5bd35f;
}
.button--error {
  background: #FF5252;
}
.button--error:hover,
.button-error:focus {
  background: #ff5f5f;
}
.button--error:active {
  background: #ff7e7e;
}